/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Commons */

body {
    font-family: 'Lato', sans-serif;
}

img {
    max-width: 100%;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: black;
    height: 60px;
}

.speaker-view, .fullscreen {
    background-color: #353535;
    color: white;
    height: 30px;
    line-height: 30px;
    margin-left: 10px;
    border-radius: 7px;
    padding: 0 10px;
}

main {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    height: calc(100vh - 130px);
    width: 100%;
    background-color: black;
    overflow-y: auto;
}

.user {
    position: relative;
    height: 120px;
    width: 200px;
    margin: 5px;
    background-image: url('../img/image.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    border: 1px solid black;
}

.username {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0c0d0e;
    color: white;
    height: 70px;
    width: 100%;
}

.buttons-left, .buttons-center {
    display: flex;
}

.end-meeting {
    width: 10vw;
    color: red;
    background-color: #2e2e2e;
    text-align: center;
    line-height: 70px;
}

.menu-btn {
    text-align: center;
    margin-left: 20px;
}

.menu-btn i {
    font-size: 26px;
}

.green-icon {
    color: #318400;
}



